<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarItems"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarItems">
        <!--<ul class="navbar-nav ml-auto">-->
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#education">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#experience">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#awards">Awards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#jpublication">Journals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#patent">Patents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#cpublication">Conferences</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#media">Media</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#services">Services</a>
            </li>
        </ul>
    </div>
</nav>